
.header {
    margin-top:20px;
    margin-bottom: 20px;
}
.btn-light {
    background-color: lightgray
    
}

.pagination {
    border-bottom: solid 1px lightgray;
}

.create-user {
    margin-top: 20px;
    margin-bottom: 50px
}